<nav class="navbar navbar-expand-lg"  style="background-color: #d59eff;">
  <div class="container px-5">
    <img src="Luka.png" width="50" >
    <a class="navbar-brand mx-4" href="#">Gymtracker</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('auth.signup')}}">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>